
Finding Hidden Local Patterns.aux
Finding Hidden Local Patterns.log
Finding Hidden Local Patterns.out
Finding Hidden Local Patterns.pdf
Finding Hidden Local Patterns.synctex.gz
Finding Hidden Local Patterns.tex
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_13_0.png
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_14_0.png
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_15_0.png
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_17_1.png
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_7_0.png
Finding Hidden Local Patterns_files/Finding Hidden Local Patterns_9_0.png
LDT Donut.png
LDT Transform.png
